<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<button (click)="run()">Hey Run The Code</button>
<div class="container">
  <p>
    <input type="text" class="form-control" [(ngModel)]="EnterName" />
    <input type="text" class="form-control" [(ngModel)]="EnterAge" />
    <input type="text" class="form-control" [(ngModel)]="EnterStatus" />
  </p>
  <input type="button" value="send" (click)="transferData()">
</div>

<app-about (sendData2)="sendData($event)"></app-about>

{{value}}

<app-item-adder (setItem)="addItem($event)"></app-item-adder>

<ul *ngFor="let item of list">
  <li>{{item}}</li>
</ul>

<app-home [parentData1]="parentData1" [parentData2]="parentData2" [parentData3]="parentData3"></app-home>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />